*.foreground: #ffffff
*.background: #262335
*.cursorColor: #efefef

! black 236 238
*.color0: #000000
*.color8: #888888

! red 167
*.color1: #fe4450
*.color9: #fe4450

! green 108
*.color2: #72f1b8
*.color10: #72f1b8

! yellow 221
*.color3: #f97e72
*.color11: #fede5d

! blue 110
*.color4: #03edf9
*.color12: #03edf9

! magenta 146
*.color5: #ff7edb
*.color13: #ff7edb

! cyan 75
*.color6: #03edf9
*.color14: #03edf9

! white 239 15
*.color7: #ffffff
*.color15: #ffffff

URxvt*font: xft:FiraCode Nerd Font Mono:style=Regular:size=9:minspace=False, xft:DevaVu Sans:size=8, xft:Symbola
URxvt*letterSpace: -1
URxvt*borderLess: false
URxvt*externalBorder: 0
URxvt*internalBorder: 16
URxvt*scrollBar: false
URxvt*saveLines: 5000

URxvt*depth: 32
URxvt*background: rgba:0000/0000/0200/c800

Xft.dpi: 192
